.pageContainer {
  width: 100%;
  min-height: 100vh;
  background: var(--background);
}

.gridContainer {
  display: grid;
  grid-template-columns: 2fr 2fr;
  gap: 1rem;
}

.filters {
  background: var(--white);
  border-radius: 0.3125rem;
  box-shadow: 0 0.125rem 0.5rem var(--button-primary-shadow);
  display: flex;
  flex-direction: row;
  gap: 2rem;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  max-height: 12.375rem;
  overflow: auto;
  padding: 1.5rem;
  position: relative;
  stroke: var(--gray);
  stroke-width: 0.0625rem;
}

.files {
  max-height: 12.375rem;
  position: relative;
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  background: var(--white);
  border-radius: 0.3125rem;
  box-shadow: 0 0.125rem 0.5rem var(--button-primary-shadow);
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: flex-start;
  justify-content: flex-start;
}

.cardTexts {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1.5rem
}

.tableContainer {
  max-height: 32rem;
  max-width: 100%;
  position: relative;
  overflow: auto;
  stroke: var(--gray);
  stroke-width: 0.0625rem;
  background: var(--white);
  border-radius: 0.3125rem;
  box-shadow: 0 0.125rem 0.5rem var(--button-primary-shadow);
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  grid-column: 1 / -1;
  grid-row: 2 / 3;
}
