.pageContainer {
  width: 100%;
  min-height: 100vh;
  background: var(--background);
  padding: 2rem;
}

.navbar {
  display: flex;
  gap: 2rem;
  margin-bottom: 2rem;
}

.navTab {
  background: none;
  border: none;
  font-size: 1.15rem;
  font-weight: 600;
  color: var(--text-color-placeholder);
  padding: 0.5rem 0;
  cursor: pointer;
  border-bottom: 0.1875rem solid transparent; /* 3px */
  transition:
    border 0.2s,
    color 0.2s;
}
.navTab[aria-current='page'] {
  color: var(--orange-primary);
  /*border-bottom: 0.1875rem solid var(--background); */
}

.gridContainer {
  display: grid;
  grid-template-columns: 2fr 2fr;
  gap: 2rem;
}

.caseDetails {
  max-height: 12.375rem; /* 198px */
  position: relative;
  overflow: auto;
  stroke: var(--gray);
  stroke-width: 0.0625rem; /* 1px */
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  background: var(--white);
  border-radius: 0.3125rem; /* 5px */
  box-shadow: 0 0.125rem 0.5rem var(--button-primary-shadow); /* 0 2px 8px */
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.detailsRow {
  display: flex;
  gap: 2.5rem;
  margin-bottom: 0.5rem;
}

.actionsBox {
  max-height: 12.375rem; /* 198px */
  position: relative;
  overflow: scroll;
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  background: var(--white);
  border-radius: 0.3125rem; /* 5px */
  box-shadow: 0 0.125rem 0.5rem var(--button-primary-shadow); /* 0 2px 8px */
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: flex-start;
  justify-content: flex-start;
}

.actionsRow {
  display: flex;
  flex-direction: row;
  gap: 1.6875rem; /* 27px */
  margin-top: 1rem;
}

.envolvidosBox,
.arquivosBox {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  min-height: 0;
  max-height: 32.4375rem; /* 519px */
  position: relative;
  background: var(--white);
  border-radius: 0.3125rem; /* 5px */
  box-shadow: 0 0.125rem 0.5rem #0001; /* 0 2px 8px */
  padding: 2rem;
}

.sectionHeader {
  font-size: 1.15rem;
  margin-bottom: 0.2rem;
}

.sectionDescription {
  font-size: 1rem;
  color: #444;
  margin-bottom: 1rem;
}

.addEnvolvidoRow {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
}

.input {
  padding: 0.7em 1em;
  border-radius: 0.375rem; /* 6px */
  border: 0.09375rem solid #e0e0e0; /* 1.5px */
  font-size: 1rem;
  background: var(--white);
  min-width: 11.25rem; /* 180px */
}

.uploadButton {
  margin-bottom: 1rem;
}

.fileType {
  background: var(--white);
  color: var(--text-secondary);
  border-radius: 0.375rem; /* 6px */
  padding: 0.2em 0.8em;
  font-size: 0.95em;
  margin-left: 0.5em;
}

.GenericTable__container {
  flex: 1 1 auto;
  min-height: 0;
  max-height: 18.75rem; /* 300px */
  overflow: auto;
  display: flex;
  flex-direction: column;
}
