.filesContainer {
  width: 100%;
}

.uploadSection {
  padding: 1.6rem 1.5rem 2.8rem 1.5rem;
}

.filesText {
  margin-top: 0.6rem;
  max-width: 30rem;
}

.uploadButton {
  margin-top: 1.1rem;
  max-width: 8rem;
}
